<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Ultimate Optimiser.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>5260E05B1DD4819D0095429B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5260E06C1DD4819F0095429B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>5260E0771DD4819F0095429B</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
